html {
  box-sizing: border-box;
}

body {
  max-width: 360;
  margin: 0;
  padding: 0;
  font-family: "Suisse Int'l", sans-serif;
  background: #f4f7fa;
}

ul,
li,
h1,
h2,
h3,
button {
  padding: 0;
  margin: 0;
  font-family: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  width: 1152px;
  margin-left: auto;
  margin-right: auto;
  background: #f4f7fa;
}

header {
  margin-bottom: 14px;
  background: #ffffff;
  border: 1px solid rgba(33, 58, 133, 0.07);
  box-shadow: 2px 2px 15px rgba(128, 142, 184, 0.2);
}

.header-wraper {
  display: flex;
  align-items: center;

  padding: 8px 172px;
}

.logo {
  margin-right: 210px;
}

.nav {
  margin-right: 34px;
}
.nav-list {
  display: flex;
}

.nav-item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  text-transform: uppercase;

  color: #333536;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item a:hover,
.nav-item a:focus {
  color: #0957c3;
}

.nav-item:not(:last-child) {
  margin-right: 30px;
}

.header-btn {
  min-width: 149px;
  padding: 8px;
  margin-right: 6px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.31;

  color: #0957c3;
  background: rgba(9, 87, 195, 0.07);
  border: 1px solid rgba(9, 87, 195, 0.07);
  border-radius: 20px;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn:hover,
.header-btn:focus {
  border: 1px solid #0957c3;
}

.switch-language {
  margin-right: 20px;
  padding: 9px 11px 9px;

  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 21px;
}

.language {
  display: flex;
  align-items: center;

  font-weight: normal;
  font-size: 13px;
  line-height: 100%;

  color: #333536;
}

.language::after {
  margin-left: 8px;
  content: "";
  width: 9px;
  height: 6px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/mark.svg");
  cursor: pointer;
}

.shopping-basket {
  width: 18px;
  height: 18px;

  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shopping-basket:hover {
  transform: scale(1.03);
}

.mini-menu {
  display: flex;

  margin-bottom: 29px;
}

.mini-mune-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.mini-menu-list {
  display: flex;
  align-items: flex-end;
}

.mini-menu-item {
  display: flex;
  align-items: baseline;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.27;

  color: rgba(51, 53, 54, 0.8);
  cursor: pointer;
}

.mini-menu-item:not(:last-child) {
  margin-right: 8px;
}

.mini-menu-item::before {
  display: block;
  margin-right: 5px;
  content: "";
  width: 4px;
  height: 6px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/arrow.svg");
  cursor: pointer;
}

.main-wraper {
  display: flex;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-right: 17px;
}

.sidebar-menu {
  margin-bottom: 728px;
  padding-top: 28px;
  padding-bottom: 24px;
  max-width: 276px;

  background: #ffffff;
  border: 1px solid rgba(33, 58, 133, 0.07);
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.1);
  border-radius: 8px;
}

.menu-list {
  margin-bottom: 19px;
}

.menu-item {
  display: flex;
  padding: 3px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;

  color: #333536;

  transition: color, background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:not(:last-child) {
  margin-bottom: 12px;
}

.menu-item::before {
  content: "";

  background-repeat: no-repeat;
  background-position: center;
}

.menu-item:nth-child(1)::before {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-image: url("../icons/ico.svg");
}

.menu-item:nth-child(2)::before {
  width: 16px;
  height: 19px;
  margin-right: 17px;
  background-image: url("../icons/records.svg");
}

.menu-item:nth-child(3)::before {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-image: url("../icons/medicines.svg");
}

.menu-item:nth-child(4)::before {
  width: 24px;
  height: 21px;
  margin-right: 11px;
  background-image: url("../icons/family.svg");
}

.menu-item:nth-child(5)::before {
  width: 24px;
  height: 24px;
  margin-right: 11px;
  background-image: url("../icons/patient.svg");
}

.menu-item:nth-child(6)::before {
  width: 18px;
  height: 20px;
  margin-right: 14px;
  background-image: url("../icons/bullet_list.svg");
}

.menu-item:nth-child(7)::before {
  width: 21px;
  height: 16px;
  margin-right: 12px;
  background-image: url("../icons/crown_blue.svg");
}

.menu-item:hover {
  margin-left: 0;
  color: #0957c3;
  background: #eef3fb;
  cursor: pointer;
}

.online-btn {
  display: flex;
  margin: 0 45px 29px;
  padding: 6px 28px;
  white-space: nowrap;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;

  background: #feb545;
  border: 1px solid #feb545;
  border-radius: 35px;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online-btn::before {
  content: "";
  margin-right: 7px;
  width: 17px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/stethoscope.svg");
}

.online-btn:hover,
.online-btn:focus {
  transform: scale(1.03);
}

.sidebar-line {
  margin-bottom: 16px;

  border-bottom: 2px solid rgba(91, 128, 180, 0.2);
}

.logout-btn {
  display: flex;
  margin-left: 27px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;

  color: #707272;
  background: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.logout-btn::before {
  content: "";
  margin-right: 13px;
  width: 20px;
  height: 19px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/logout.svg");
}

.office-container {
  position: absolute;
  top: 471px;
  display: flex;
  flex-direction: column;

  padding: 19px 22px 38px;
  max-width: 276px;

  background: #ffffff;
  border: 1px solid rgba(33, 58, 133, 0.07);
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.1);
  border-radius: 8px;
}

.close {
  display: none;
}

.office-title {
  margin-bottom: 18px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.31;

  text-align: center;

  color: #000000;
}

.star-list {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.star-item {
  margin-right: 14px;
}

.cross-btn {
  position: absolute;
  top: 13px;
  right: 14px;
  content: "";
  width: 10px;
  height: 10px;

  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/cross.svg");
  cursor: pointer;
}

.form-label {
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.82;

  color: rgba(51, 53, 54, 0.7);
}

textarea {
  min-width: 232px;
  height: 90px;
  padding: 6px 10px;
  margin-bottom: 29px;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.36;

  color: rgba(51, 53, 54, 0.7);

  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 8px;
  resize: none;
}

textarea::placeholder {
  font-family: "Suisse Int'l", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.36;

  color: rgba(51, 53, 54, 0.7);
}

.form-btn {
  padding: 13px 25px 14px 24px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;

  text-align: center;

  color: #ffffff;

  background: #0957c3;
  border-radius: 8px;
  border: 1px solid #0957c3;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  transform: scale(1.03);
}

.middle-wraper {
  display: flex;
  flex-direction: column;
  max-width: 862px;
}

.title {
  margin-bottom: 17px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.29;

  color: #333536;
}

.links-list {
  display: flex;
  margin-bottom: 25px;
}

.links-item a {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;

  color: #707272;
}

.links-item a:hover,
.links-item a:focus {
  color: #0957c3;
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0957c3;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.links-item .current {
  font-weight: 700;

  color: #0957c3;
}

.links-item:not(:last-child) {
  margin-right: 44px;
}

.tabs-container {
  position: relative;
  max-width: 862px;
  margin: 0 auto;
  overflow: hidden;
}

.tabs {
  position: relative;
  display: flex;
  padding-left: 16px;
  margin-bottom: 17px;

  background: #f4f7fa;
}

.tabs-btn {
  min-width: 112px;
  height: 36px;
  white-space: nowrap;

  margin-right: 20px;
  padding: 8px 28px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;

  color: #333536;

  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 50px;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tabs-btn:hover,
.tabs-btn:focus {
  color: #0957c3;

  border: 1px solid #0957c3;
}

.btn-left {
  position: absolute;
  top: 7px;
  z-index: 5;
  display: block;
  margin-right: 9px;
  content: "";

  background: #f4f7fa;
  border: 1px solid #f4f7fa;

  cursor: pointer;
}

.arrow-left {
  width: 10px;
  height: 20px;

  fill: #707272;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow-left:hover,
.arrow-left:focus {
  fill: #0957c3;
}

.btn-right {
  position: absolute;
  top: 7px;
  right: 10px;
  display: block;
  margin-right: 9px;
  content: "";

  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);

  cursor: pointer;
}

.arrow-right {
  width: 10px;
  height: 20px;

  fill: #707272;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow-right:hover,
.arrow-right:focus {
  fill: #0957c3;
}

.cards-container {
  margin-bottom: 76px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
}

.card-item {
  position: relative;
  overflow: hidden;
  max-width: 280px;

  flex-basis: calc((100% - 6 * 4px) / 3);
  margin: 4px;

  background: #ffffff;
  border: 1px solid rgba(33, 58, 133, 0.07);
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.1);
  border-radius: 8px;
}

.online {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px 21px 1px 13px;

  font-weight: normal;
  font-size: 11px;
  line-height: 1.45;

  color: #47d7ac;
  background: rgba(71, 215, 172, 0.05);
  border-radius: 50px;
}

.card-wraper {
  padding: 18px 16px;
}

.doctor-info {
  position: relative;
  display: flex;
  margin-bottom: 12px;
}

.picture-label {
  position: absolute;
  z-index: 1;
  top: 107px;
  left: 0;
  padding: 4px 3px;

  background: #ffffff;
  box-shadow: 2px 2px 6px rgba(25, 27, 52, 0.15);
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.doctor-picture {
  margin-right: 11px;
}

.doctor-name {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.06;

  color: #333536;
}

.doctor-position {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.27;

  color: #333536;
}

.doctor-category {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.27;

  color: #747578;
}

.rating {
  display: flex;
  margin-bottom: 13px;
}

.rating-number {
  display: flex;
  align-items: baseline;
  margin-right: 69px;

  font-weight: 700;
  font-size: 11px;
  line-height: 1.27;

  color: #333536;
}

.rating-number::before {
  margin-right: 3px;
  content: "";

  width: 11px;
  height: 11px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/star_gold.svg");
}

.respond {
  margin-right: 18px;
  white-space: nowrap;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.27;

  color: #333536;
}

.respond-number {
  font-weight: 700;
  font-size: 11px;
  line-height: 1.27;

  color: #0957c3;
}

.experience {
  white-space: nowrap;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.27;

  color: #333536;
}

.experience-number {
  font-weight: 700;
  font-size: 11px;
  line-height: 1.27;

  color: #000000;
}

.divider {
  height: 1px;
  margin-bottom: 13px;
  background: #e5e9ed;
}

.value-wraper {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}
.value {
  display: flex;
  margin-right: 53px;
}

.video {
  margin-right: 9px;
  width: 24px;
  height: 24px;
}

.audio {
  margin-right: 9px;
  width: 24px;
  height: 24px;
}

.chat {
  margin-right: 9px;
  width: 24px;
  height: 24px;
}

.cost {
  white-space: nowrap;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.36;

  color: #000000;
}

.cost-time {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.36;

  color: #747578;
}

.order-btn {
  padding: 12px 20px;
  min-width: 250px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.56;

  color: #ffffff;
  background: #0957c3;
  border: 1px solid #0957c3;
  border-radius: 8px;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  transform: scale(1.03);
}

.order-container {
  position: relative;
  display: flex;
  margin-bottom: 101px;
  padding-left: 60px;
}

.eazy-service {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 25px;
  width: 205px;
}

.service-ellipse {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 124px;
  height: 124px;

  border-radius: 50%;
  background: #ffffff;
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.1);
}

.service-circle {
  position: absolute;
  z-index: 2;
  top: 31px;
  left: 31px;
  display: block;
  content: "";
  width: 62px;
  height: 62px;

  border-radius: 50%;
  background: #f4f7fa;
}

.service-title {
  position: absolute;
  z-index: 3;
  top: 20px;
  left: 61px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.29;

  color: #333536;
}

.service-text {
  position: absolute;
  z-index: 3;
  top: 89px;
  left: 61px;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.27;

  color: #000000;
}

.order-list {
  display: flex;
  margin-left: 200px;
}

.order-item {
  position: relative;
  margin-right: 13px;
  padding: 23px 24px 87px;

  width: 350px;

  background: #ffffff;
  border: 1px solid rgba(33, 58, 133, 0.07);
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.1);
  border-radius: 8px;
}

.order-title {
  margin-bottom: 16px;
  white-space: nowrap;

  font-weight: 700;
  font-size: 20px;
  line-height: 0.9;

  color: #333536;
}

.order-text {
  white-space: nowrap;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.31;

  color: #747578;
}

.order-time {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.31;

  color: #47d7ac;
}

.order-group {
  display: flex;
  align-items: center;

  position: absolute;
  left: 24px;
  bottom: 23px;
}

.icon-order {
  margin-right: 26px;
}

.order-step {
  position: absolute;
  right: 22px;
  bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.06;

  color: #e8e8e8;
}

.forward-btn {
  position: absolute;
  top: 75px;
  right: 20px;

  padding: 5px 11px;
  width: 31px;
  height: 31px;

  border-radius: 50%;
  border: 1px solid #f4f7fa;
  background: #f4f7fa;

  cursor: pointer;
}

.forward-arrow {
  width: 10px;
  height: 20px;

  fill: #707272;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.forward-arrow:hover,
.forward-arrow:focus {
  fill: #0957c3;
}

footer {
  margin: 0 auto;
  max-width: 1450px;
  background: #ffffff;
  box-shadow: 2px 2px 15px rgba(128, 142, 184, 0.1);
  border-radius: 20px 20px 0px 0px;
}

.footer-wraper {
  display: flex;
  align-items: center;
  padding: 25px 72px;
}

.footer-logo {
  margin-right: 20px;
  width: 156px;
  height: 24px;
}

.flag-list {
  display: flex;
  align-items: center;
  margin-right: 427px;
}

.flag-item {
  margin-right: 10px;
}

.flag-picture {
  width: 22px;
  height: 22px;

  border-radius: 50%;
  box-shadow: 0px 4px 20px rgba(82, 128, 190, 0.21);
}

.app-store {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 37px;
  padding: 12px 31px 10px 59px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;

  color: #ffffff;
  background: #0856c2;
  border: 1px solid #0856c2;
  border-radius: 8px;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-store::before {
  position: absolute;
  top: 11px;
  left: 30px;
  content: "";
  margin-right: 15px;
  width: 14px;
  height: 14px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/app_store.svg");
}

.app-store:hover,
.app-store:focus {
  transform: scale(1.03);
}

.google {
  position: relative;
  display: flex;
  align-items: center;
  padding: 11px 25px 11px 53px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;

  color: #ffffff;
  background: #fe5000;
  border: 1px solid #fe5000;
  border-radius: 8px;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.google::before {
  position: absolute;
  top: 11px;
  left: 24px;
  content: "";
  margin-right: 15px;
  width: 14px;
  height: 14px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/google.svg");
}

.google:hover,
.google:focus {
  transform: scale(1.03);
}

.backdrop {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  background: rgba(0, 0, 0, 0.2);
}

.backdrop.show {
  display: block;
}

.modal {
  width: 500px;
  min-height: 300px;

  position: absolute;
  z-index: 14;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #f6fdfb;
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.35);
  border-radius: 8px;
}

.modal-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px 30px;

  background: #ffffff;
  border: 1px solid rgba(33, 58, 133, 0.07);
  box-shadow: 2px 2px 15px rgba(128, 142, 184, 0.1);
  border-radius: 8px;
}
.modal-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;

  color: #333536;
}

.close-btn {
  content: "";
  width: 11px;
  height: 11px;

  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/cross.svg");
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 57px 13px 58px;
}

.modal-picture {
  margin-bottom: 12px;
  width: 150px;
}

.modal-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.54;

  text-align: center;

  color: #333536;
}

.modal-time {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.54;

  text-align: center;

  color: #707272;
}
